<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
<body>
    <form method="post" action="/users">
        <h2>Enter Your Details</h2>
        <input type="text" placeholder="Enter Name" name="name"><br><br>
        <input type="email" placeholder="Enter Email" name="email"><br><br>
        <input type="number" placeholder="Enter age" name="age"><br><br>
        <input type="text" placeholder="Enter country name" name="country"><br><br>
        <input type="password" placeholder="Enter password" name="password"><br><br>
        <button>Submit</button>
    </form>
</body>
</div>
</div>

